/* Icons, Fonts and Branding */
@import 'modules/branding';
@import 'font-awesome/fontawesome';
@import 'modules/icons';
@import 'modules/extend';




@import 'modules/cleanup';
@import 'modules/fonts';
@import 'modules/header';
@import 'modules/input';
@import 'modules/sidebar';
@import 'modules/menu_mouse';
@import 'modules/dialog';
@import 'modules/window';
@import 'modules/infobar';
@import 'modules/footer';
@import 'modules/framing';
@import 'modules/console';

/* Mobile Corrections */
@media only screen and (hover: none) and (pointer: coarse){
    @import 'modules/mobile';
}

/* Not categoried */
@import 'modules/unknown.scss';

/* Colors */
@import 'modules/colors';

* {
	-webkit-touch-callout: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 1.0);
}

html,
body {
	border: 0;
	margin: 0;
	padding: 0;
	cursor: default;
	overflow: hidden;
	background-color: #FFF;
	height: 100%;
}

/* Margin 0 */
form {
	margin: 0;
}