/*
### 
###
### Settings
###
###
*/
div#stg {
  width: 600px;
  height: 460px;
  position: absolute;
  left: 0px;
  top: 50px;
  display: none;
  overflow: visible;

  div#stg_c {
    overflow: hidden;

    .stg_con {
      overflow-y: auto;
      overflow-x: clip;
    }
  }
}

div#stg-header,
div#dlgAddRSS-header {
  background-image: none !important;
}

/*
### Settings
### Connections
*/

.stg_con {
  float: right;
  position: relative;
  width: 450px;
  height: 400px;
  margin: 4px;
  background-color: #fafafa;
}

.ie9 .stg_con {
  position: static;
}

fieldset {
  margin: 4px;
}

* > fieldset {
  border: none;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
}

.stg_con table {
  width: 100%;
}

.stg_con td {
  font-weight: normal;
  height: 19px;
}

.stg_con td.alr {
  text-align: right;
}

.stg_con td input {
  margin: 0 4px;
  font-size: 11px;
  padding: 1px 4px;
}

.stg_con select {
  margin: 1px 4px;
  font-size: 11px;
  padding: 1px 4px;
}

/*
### Settings
### Not categorised, yet...
*/

div#stg .lm {
  width: 120px;
  height: 413px;
  margin: 5px;
  margin-right: 0;
  padding: 5px;
  float: left;
  position: relative;
  background-color: #ffffff;
  border: none;
  overflow: auto;
}

.ie div#stg .lm {
  width: 125px;
  position: static;
}

.ie9 div#stg .lm {
  position: static;
}

.ie div#stg {
  width: 605px;
}

/*
### 
###
### Add Torrent
###
###
*/

div#tadd-header {
  background: none;
}

div#tadd {
  display: none;
  width: 380px;
  height: 290px;
  left: 100px;
  top: 100px;
  position: absolute;
  margin: 0 auto;
}

div#tadd label {
  text-align: right;
  width: 75px;
  padding-right: 20px;
  float: left;
}

div#tadd br {
  clear: left;
  line-height: 0;
}

div#tadd input {
  margin-bottom: 1px;
}

div#tadd select {
  width: 220px;
}

.konqueror div#tadd label {
  width: 80px;
}

.konqueror div#tadd {
  height: 290px;
}

.konqueror #st_con {
  height: 340px;
  overflow: auto;
}
