/*
 *
 *    Hi! :-)
 *
 *    If you're looking at this, you're properly going to change the... colors.
 *    Correct? Cool! Please read the small info-text for each of the colors. Else, you'd make thinks much harder for yourself...
 *    As FlatUI_* was meant to be dark, the primary color are "primary-dark". That can be a bit confusing.. But that's just how it's worked out. 
 *
 */

// 1. PRIMARY COLOR - Used for background, menus and more
$primary-dark: rgb(38, 38, 38);

// 2. CONTRAST - Used for text, labels, legends and more
$contrast: rgb(221, 221, 209);

// 3. HOVOR - Used for hovor colors. This could be dynamicly, but some changes aren't going that well, by using invert/lighten/darken
$secondary-hover: rgb(255, 255, 255);

// 4. PRIMARY COLOR LIGHT - If the primary color are dark, use 'lighten()', else use 'darken()'
$primary-dark-light: lighten($primary-dark, 2%);

// 5. PRIMARY COLOR LIGHTER - If the primary color are dark, use 'lighten()', else use 'darken()'
$primary-dark-lighter: lighten($primary-dark, 5%);

/* 

DO NOT CHANGE ANYTHING BELOW THIS LINE 

**/
@import "../scss/main";
